<template>
<div class="background">
    <div class="flex-container">
        <h1>Trivia Quiz</h1>
        <div class="card">
            <div v-if="error">
                <h1>{{ error }}</h1>
            </div>
            <div v-else-if="isLoading">
                <div> Wait..</div>
            </div>
            <div v-else>
                <p v-html="questions[questionIndex].question"></p>
                <div class="answer">
                    <button v-for="answer in triviaAnswers" :key="answer" :value="answer" @click="onAnswerClick" v-html="answer"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'


export default {
    name: 'QuestionItem',

    /*Fetches state vlaues and getters from state*/
    computed:{
        ...mapState([
            'questions',
            'questionIndex',
            'isLoading',
            'error',
            'numberOfQs'
        ]),
        ...mapGetters(["triviaAnswers"])
    },

    /*Fetches getTrivaQuestion when created*/
    created(){
         this.getTriviaQuestions();
    },

    /*Fetches mutations and actions from state*/
    methods:{
        ...mapMutations([ "setAnswer", "setQuestionIndex" ]),
        ...mapActions(["nextQuestion", "getTriviaQuestions",]),

         onAnswerClick(answer) {
            this.setAnswer(answer.target.value);
            if (this.numberOfQs - 1 > this.questionIndex) {
                this.nextQuestion();
            } else {
                this.setQuestionIndex(0);
                this.$router.push("/result");
            }
        }
    }
};
</script>

<style scoped>
 .flex-container {
     display: flex;
     align-items: center;
     flex-direction: column;   
 }
 .background {
    min-height: 100vh;
    background: url(../../assets/back.jpg) center center; 
    background-size: cover;
    background-position: fixed;
 }
 .card {
     background: #fbf9ff;
     padding: 1.5rem;
     margin-top: 12.5rem; 
     border-radius: 0.5rem;
     width: 800px;
     height: auto;
 }
.answer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: .5rem;
 }
 button {
    width: 20rem;
    border: 1px solid #000;
    margin: 1rem;
    padding: .5rem 1rem;
    font-size: 110%;
 }
 button:hover {
     border: 1px solid #fff;
     box-shadow: 0 0 15px blue;
     cursor: pointer;
 }
 p {
     text-align: center;
     font-size: 120%;
 }

</style>