<template>
    <div>
        <div>
            <QuestionItem></QuestionItem>
        </div>
    </div>
</template>

<script>

import{mapState} from 'vuex'
import QuestionItem from './QuestionItem'

export default {
    name: 'Questions',

    /*Fetches components*/
    components:{
        QuestionItem,
    },

    /*Fetches state vlaues from state*/
    computed:{
        ...mapState([ 'user', 'questions', 'questionIndex']),
    },

    created() {
        if (this.user === '') {
            this.$router.push('/')
        }
    }  
}
</script>

