<template>
    <div class="flex-container">
        <div class="settings">
            <label for="numofQs"> Number of Questions</label>
            <input type="number" name="numOfQs" min="1" max="50" id="numOfQs" @input="onNumberChange"/>
            
            <label for="category">Category</label>
            <select type="text" name="category" id="category" @input="onCategoryChange">
                <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
            </select>

            <label>Difficulty</label>
            <select name="diffLevel" id="diffLevel" @input="onDifficultyChange">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            
            <button @click="onStartClick">Start</button>     
        </div>   
    </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
    name: 'SetDetails',
    data(){
        return{
        };
    },

    /*Fetches setNumberOfQs and getTrivaCategories when created*/
    async created(){
        this.setNumberOfQs('');
        this.getTriviaCategories();
    },

    /*Fetches state values*/
    computed:{
        ...mapState([ 'error', 'isLoading', 'numberOfQs', 'difficulty', 'selectedCategory', 'categories' ])
    },

    /** 
     * Fetches mutations and actions from state. 
     * Adds functions to buttons.
     */
    methods: {
        ...mapMutations([ 'setDifficulty', 'setSelectedCategory', 'setNumberOfQs' , 'setIsLoading' ]),
        ...mapActions([ 'getTriviaCategories' ]),

        onDifficultyChange(event){
            this.setDifficulty(event.target.value)

        },
        onCategoryChange(event){
            this.setSelectedCategory(event.target.value)
        },
        onNumberChange(event){
            this.setNumberOfQs(event.target.value);
        },
        /**
         * Checks if there's value in number of questions, below 1 or above 50.
         */
        onStartClick(){
            if(this.numberOfQs === "" ||
              parseInt(this.numberOfQs) < 1 ||
              parseInt(this.numberOfQs) > 50
            ){
                return;
            }
            this.$emit("startClick");
        }
    }
}

</script>

<style scoped>
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.settings {
    display:flex;
    background: #fbf9ff;
    padding: 1rem;
    margin: 1rem;
    max-width: 600px;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 label {
     font-size: 120%;
     padding-bottom: 0.3rem;
     align-self: flex-start;
 }
input, select {
    padding: 0.2rem;
    margin-bottom: 1rem;
    font-size: 110%;
}
select  {
    width: 100%;
}
input {
    width: 97%;
}
 button {
    width: 20rem;
    border: 1px solid #000;
    margin: 1rem;
    padding: .5rem 1rem;
    font-size: 110%;
 }
button:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 15px blue;
    cursor: pointer;
}

</style>