<template>
    <div class="flex-container">
        <h2>Please enter your username</h2>
        <label>Username</label>
        <input @input="oninputchange" type="text"/>
        <button type="submit" @click="onLoginClick">Login/Register</button>
    </div>
</template>




<script>
import { LoginAPI } from '@/components/StartScreen/LoginAPI'
export default {
    name: 'Login',
    data(){
        return{
            input:'',
        };
    },

    methods: {
      /**
       * Checks if user exists in database.
       * If user existst, they are logged in, if not, they are registered and logged in.
       */
      async onLoginClick() {
        if(this.input ===''){
              return;
          }
          const registeredUser = await LoginAPI.login({user: this.input});
          if (registeredUser.length === 0){
              await LoginAPI.register({username: this.input});
              const newUser = await LoginAPI.login({user: this.input});
              return this.$emit('buttonClicked',{
                  username: newUser[0],
                  loggedIn:true
              });
          }
          this.$emit('buttonClicked', {user: registeredUser[0], loggedIn: true});
    
        },
        /*Updates input when input field is changed*/
      oninputchange(e) {
      this.input = e.target.value;
     },
    }        
}
</script>

<style scoped>
.flex-container {
    display: flex;
}
h2 {
    padding-bottom: .8rem;
}
input {
    width: 98%;
    padding: 0.2rem;
    font-size: 110%;
}
label {
    align-self: flex-start;
}
 button {
    width: 20rem;
    border: 1px solid #000;
    margin: 1rem;
    padding: .5rem 1rem;
    font-size: 110%;
 }
 button:hover {
     border: 1px solid #fff;
     box-shadow: 0 0 15px blue;
     cursor: pointer;
 }
 label {
     font-size: 120%;
 }
</style>