<template>
    <div class="background">
        <div class="flex-container">
            <h1>Trivia Quiz</h1>
            <div class="card">
                <div v-if="login == true" class="welcome">
                    <p>Hello, {{user.username}}!</p>
                    <p>Your highscore is {{user.highscore}} points!</p>
                </div>
                <Login id="login" v-if="!login" @buttonClicked="handleLoginButtonClicked"></Login>
                <SetDetails v-if="login == true" @startClick ="handleStartButton"></SetDetails>
            </div>
        </div>
    </div>
</template>


<script>
import Login from '@/components/StartScreen/Login'
import SetDetails from '@/components/Trivia/SetDetails'

import {mapState, mapMutations, mapActions} from 'vuex'

export default {
    name: 'Startscreen',
    data(){
        return{
            login: false
        };
    },

    /*Fetches components*/
    components:{
        Login,
        SetDetails
    },

    /*Fetches state vlaues from state*/
    computed:{
        ...mapState(['user']),
        
    },

    /**
     * Fetches mutations and actions from state.
     * Adds function to buttons 
    */
    methods:{
        ...mapMutations(['setUser']),
        ...mapActions(['getTriviaQuestions']),

        handleStartButton(){
            this.$router.push('/questions')
            this.getTriviaQuestions();
        },

        handleLoginButtonClicked({user, loggedIn}){
            this.setUser(user);
            this.login = loggedIn
        }
    }   
}
</script>

<style scoped>
 .flex-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .card {
     background: #fbf9ff;
     padding: 1.5rem;
     margin-top: 10rem; 
     border-radius: 0.5rem;
     width: 600px;
 }
 .welcome {
     text-align: center;
     font-size: 150%;
 }
 .background {
    min-height: 100vh;
    background: url(../../assets/back.jpg) center center; 
    background-size: cover;
    background-position: fixed;
 }
</style>