<template>
<div class="background">
    <div class="flex-container">
        <h1 style="color: #000;">Trivia Quiz - Results</h1>
        <div class="card">
            <h2>You are done! Lets see how you did..</h2>
            <h3>Results: {{ score}} / {{maxScore}} </h3>
            <div class ="action-btns">
                <button @click="onPlayAgainButton">Play again</button>
                <button @click ="onHomeClick">Home</button>
                </div>

                <TriviaResult 
                v-for="question in questions"
                :key="question.id"
                :value="question.id"
                :question="question"
                ></TriviaResult>
        </div>
    </div>
</div>  
</template>

<script>
import TriviaResult from './TriviaResult.vue'
import { mapGetters, mapState} from 'vuex'
import {LoginAPI} from '@/components/StartScreen/LoginAPI'

export default {
    name: 'Result',
    components :{
        TriviaResult
    },
    
    data() {
        return {
            score: 0
        };
    },

    /*Updates score to be equal to all correct answers * 10 when created*/
    created() {
        if (this.user === '') {
            this.$router.push('/')
        }

        this.score = this.questions.reduce((score, question) => {
            return question.answer === question.correct_answer
                ? score + 10
                : score + 0;
        },0);
        this.onCaclulatedScore(); 
    },

    /*Fetches state vlaues from state*/
    computed:{ 
        ...mapState ([ 'user', 'questions' ]),
        ...mapGetters([ 'maxScore' ])
    },

    /*Adds function to buttons*/
    methods:{
        /*Lets user replay the game with the same settings*/
        onPlayAgainButton(){
           this.$router.push('/questions') 
        },
        /*Returns user to the StartScreen*/
        onHomeClick(){
            this.$router.push('/');
        },

        /**
         * Checks if current score isbigger than the user's highscore. 
         * If so, update the database.
         */
        async onCaclulatedScore(){
            if (this.user.highscore < this.score){
                await LoginAPI.updateHighScore(this.user.id, this.score);
            }
        }
    }
};
</script>

<style scoped>
.res h1 {
    color: #000;
}
.flex-container {
     display: flex;
     align-items: center;
     flex-direction: column;   
 }
 .card {
     background: #fbf9ff;
     padding: 1.5rem;
     margin-top: 4rem; 
     border-radius: 0.5rem;
     width: 800px;
     height: 100px;
 }
 .action-btns {
    text-align: center;
 }
 button {
    width: 20rem;
    border: 1px solid #000;
    margin: 1rem;
    padding: .5rem 1rem;
    font-size: 110%;
 }
 button:hover {
     border: 1px solid #fff;
     box-shadow: 0 0 10px blue;
     cursor: pointer;
 }
 h2, h3 {
     text-align: center;
 }
</style>