<template>
    <div class="background">
        <div class="flex-container">
            <div class="card">
                <p class="question" v-html="question.question"></p>
                <p 
                    :class="{ 
                        wrong: answer === question.answer && answer != question.correct_answer 
                        ? true 
                        : false, 
                        correct: answer === question.correct_answer,
                        }" 
                        class="answer" 
                        v-for="answer in answers" 
                        :key="answer" 
                        :value="answer" 
                        v-html="answer"
                        ></p>
            </div>
        </div>
    </div>
</template>


<script>
/**
 * Show all questions and answers to the questions. 
 * Correct and incorrect selected answers are indicated with color.
 */
export default {
    name: 'TriviaResult',

    props:{
        question: {
            type: Object,
            required: true,
        }
    },

    data(){
        return {
            answers: [
                this.question.correct_answer,
                ...this.question.incorrect_answers,
            ],
        }
    }
}
</script>

<style scoped>
.flex-container {
     display: flex;
     align-items: center;
     flex-direction: column; 
}
 .card {
     background: #fbf9ff;
     padding: 1.5rem;
     margin-top: 4rem; 
     border-radius: 0.5rem;
     width: 800px;
     height: 120px;
 }
.question {
    font-size: 110%;
}
.wrong {
    color: #af1b3f;
} 
.correct {
    color: #548c2f;
}
p {
    margin-bottom: .3rem;
}
</style>