<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',

}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
#app {
  min-height: 100vh;
  /* background-attachment: fixed; */
  color: #000;
  align-items: center;
  flex-direction: column; 
  box-sizing: border-box;
}
#app h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  color: #fff;
}
</style>
